DJANGO_DEBUG=true
DJANGO_SECRET_KEY=development-secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CORS_ALLOW_ALL_ORIGINS=true

POSTGRES_DB=competencyx
POSTGRES_USER=competencyx
POSTGRES_PASSWORD=competencyx
POSTGRES_PORT=5432

